{% extends '::base.html.twig' %}

{% if form is defined %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
{% endif %}
    
{% block navigation %}
    {% include 'AppBundle:Default:nav.html.twig' %}
{% endblock %}

{% block body %}
    
    <!-- Page Content -->
    <div class="container">
        {# dump(entry) #}
        {# dump(form.imagepath) #}
        {{ dump(form.subEntries) }}

        {{ form_start(form) }}
            {# form_widget(form) #}
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    {{ form_label(form.type) }}
                </div>
                <div class="col-md-4 col-sm-3">
                    {{ form_errors(form.type) }}
                    {{ form_widget(form.type) }}
                </div>
                <div class="col-md-2 col-sm-3">
                    {{ form_label(form.title) }}
                </div>
                <div class="col-md-4 col-sm-3">
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    {{ form_label(form.icon) }}
                </div>
                <div class="col-md-4 col-sm-3">
                    {{ form_errors(form.icon) }}
                    {{ form_widget(form.icon) }}
                </div>
                <div class="col-md-2 col-sm-3">
                    {{ form_label(form.route) }}
                </div>
                <div class="col-md-4 col-sm-3">
                    {{ form_errors(form.route) }}
                    {{ form_widget(form.route) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    {{ form_label(form.imagepath) }}
                </div>
                <div class="col-md-4 col-sm-3">
                    {{ form_errors(form.imagepath) }}
                    {{ form_widget(form.imagepath) }}
                </div>
                <div class="col-md-2 col-sm-3">
                    {{ form_label(form.imageDescription) }}
                </div>
                <div class="col-md-4 col-sm-3">
                    {{ form_errors(form.imageDescription) }}
                    {{ form_widget(form.imageDescription) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    {{ form_label(form.buttontext) }}
                </div>
                <div class="col-md-4 col-sm-3">
                    {{ form_errors(form.buttontext) }}
                    {{ form_widget(form.buttontext) }}
                </div>
                <div class="col-md-2 col-sm-3">
                    {{ form_label(form.content) }}
                </div>
                <div class="col-md-4 col-sm-3">
                    {{ form_errors(form.content) }}
                    {{ form_widget(form.content) }}
                </div>
            </div>
            <div class="row">
                <h3>SubEntries</h3>
            </div>
            <div class="row">
                {# iterate over each existing tag and render its only field: name #}
                <div class="entries" data-prototype="{{ form_widget(form.subEntries.vars.prototype)|e }}">
                    {# iterate over each existing tag and render its only field: name #}
                    {% for subEntry in form.subEntries %}
                        <div class="entry col-md-4">
                            {{ form_row(subEntry.type) }}
                            {{ form_row(subEntry.content) }}
                            {{ form_row(subEntry.contentNoTrans) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-md-12 formfinal">
                    <hr>
                    {{ form_end(form) }}
                </div>
            </div>
    </div>
    
{% endblock %}

{% block javascripts %}
 {{ parent() }}
 
 {% javascripts '@AppBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
 {% endjavascripts %}
{% endblock %}
    

