{% macro inputEditButtons(route, id) %}
    <a href="{{ path(route, {'_locale': 'de', 'id':id}) }}" class="btn btn-default">Edit de</a>
    <a href="{{ path(route, {'_locale': 'en', 'id':id}) }}" class="btn btn-default">Edit en</a>
    <a href="{{ path(route, {'_locale': 'fr', 'id':id}) }}" class="btn btn-default">Edit fr</a>
    <a href="{{ path(route, {'_locale': 'nl', 'id':id}) }}" class="btn btn-default">Edit nl</a>
{% endmacro %}

{% macro inputList(entry) %}
    <ul>
    {% for subentry in entry.subentries if subentry.type=='property_text' %}
        <li>{{ subentry.content }}</li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro inputSliderImage(entry, id) %}
    <ul class="bxslider" id="slider{{id}}">
    {% for subentry in entry.subentries if subentry.type=='property_image' %}
        <li><img src="{{ subentry.contentNotrans }}"/></li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro inputSliderThumb(entry, id) %}
    <div id="bx-pager{{id}}">
    {% for subentry in entry.subentries if subentry.type=='property_image' %}
        <a data-slide-index="{{ loop.index0 }}" href=""><img src="{{ subentry.contentNotrans|replace({ '.jpg':'_thumb.jpg' }) }}"/></a>
    {% endfor %}
    </div>
{% endmacro %}

{% macro inputSubtitle(entry) %}
    {% for subentry in entry.subentries if subentry.type=='property_subtitle' %}
        <h5>{{ subentry.content }}</h5>
    {% endfor %}
{% endmacro %}

{% macro inputSubtitle1(entry) %}
    {% for subentry in entry.subentries if subentry.type=='property_subtitle1' %}
        <h3>{{ subentry.content }}</h3>
    {% endfor %}
{% endmacro %}

{% macro inputSubtitle2(entry) %}
    {% for subentry in entry.subentries if subentry.type=='property_subtitle2' %}
        <h4>{{ subentry.content }}</h4>
    {% endfor %}
{% endmacro %}

{% macro inputSubEntriesParagraph(entry) %}
    {% for subentry in entry.subentries if subentry.type=='property_paragraph' %}
        <p>{{ subentry.content }}</p>
    {% endfor %}
{% endmacro %}

{% macro inputSubEntriesFacebook(entry) %}
    {% for subentry in entry.subentries if subentry.type=='property_facebook' %}
        <li>
            <a href="{{ subentry.contentNotrans }}" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
        </li>
    {% endfor %}
{% endmacro %}

{% macro inputSubEntriesLinkedIn(entry) %}
    {% for subentry in entry.subentries if subentry.type=='property_linkedin' %}
        <li>
            <a href="{{ subentry.contentNoTrans }}" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
        </li>
    {% endfor %}
{% endmacro %}

{% macro inputSubEntriesXing(entry) %}
    {% for subentry in entry.subentries if subentry.type=='property_xing' %}
        <li>
            <a href="{{ subentry.contentNoTrans }}" target="_blank"><i class="fa fa-2x fa-xing-square"></i></a>
        </li>
    {% endfor %}
{% endmacro %}