{% macro inputEditButtons(route, id) %}
    <a href="{{ path(route, {'_locale': 'de', 'id':id}) }}" class="btn btn-default">Edit de</a>
{% endmacro %}

{% macro unused(route, id) %}
    <a href="{{ path(route, {'_locale': 'en', 'id':id}) }}" class="btn btn-default">Edit en</a>
    <a href="{{ path(route, {'_locale': 'fr', 'id':id}) }}" class="btn btn-default">Edit fr</a>
{% endmacro %}

{% macro inputList(entry) %}
    <ul>
    {% for subentry in entry.subentries if subentry.type=='property_text' %}
        <li>{{ subentry.content }}</li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro inputSliderImage(entry, id) %}
    <ul class="bxslider" id="slider{{id}}">
    {% for subentry in entry.subentries if subentry.type=='property_image' %}
        <li><img src="{{ subentry.contentNotrans }}"/></li>
    {% endfor %}
    </ul>
{% endmacro %}

{% macro inputSliderThumb(entry, id) %}
    <div id="bx-pager{{id}}">
    {% for subentry in entry.subentries if subentry.type=='property_image' %}
        <a data-slide-index="{{ loop.index0 }}" href=""><img src="{{ subentry.contentNotrans|replace({ '.jpg':'_thumb.jpg' }) }}"/></a>
    {% endfor %}
    </div>
{% endmacro %}

{% macro inputSubtitle(entry) %}
    {% for subentry in entry.subentries if subentry.type=='property_subtitle' %}
        <h5>{{ subentry.content }}</h5>
    {% endfor %}
{% endmacro %}

{% macro inputSubtitle1(entry) %}
    {% for subentry in entry.subentries if subentry.type=='property_subtitle1' %}
        <h3>{{ subentry.content }}</h3>
    {% endfor %}
{% endmacro %}

{% macro inputSubtitle2(entry) %}
    {% for subentry in entry.subentries if subentry.type=='property_subtitle2' %}
        <h4>{{ subentry.content }}</h4>
    {% endfor %}
{% endmacro %}

{% macro inputBasicEntry(entry,adminEditEntryRoute) %}
    {% import _self as functions %}
    <div class="col-lg-12">
      <h2 class="page-header">{{ entry.title }}</h2>
    </div>
    <div class="col-md-6">
      <p>{{ entry.content }}</p>
      {# inputList(entry) #}
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="{{ entry.imagepath }}" alt="">
    </div>
    {% if app.user %}
      <p>{{ functions.inputEditButtons(adminEditEntryRoute,entry.id) }}</p>
    {% endif %}
{% endmacro %}

{% macro inputThumbnailCarouselEntry(entry,adminEditEntryRoute,loopindex) %}
    {% import _self as functions %}
    
    <div class="col-md-4 col-sm-6 hero-feature">
        <div class="row thumbnail">
            <div id="carousel-{{ loopindex }}" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {# Outer loopindex needs to be stored because we have an inner loop#}
                    {% set carouselIndex = loopindex %}
                    {% for subentry in entry.subentries if subentry.type=='property_image_carousel' %}
                     {% if loop.first %}
                        <li data-target="#carousel-{{ carouselIndex }}" data-slide-to="0" class="active"></li>
                     {% else %}
                        <li data-target="#carousel-{{ carouselIndex }}" data-slide-to="{{ loop.index0 }}"></li>
                     {% endif %}
                    {% endfor %} 
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for subentry in entry.subentries if subentry.type=='property_image_carousel' %}
                     {% if loop.first %}
                        <div class="item active">
                            <img class="img-responsive" src="{{ subentry.contentnotrans }}" alt="">
                        </div>
                     {% else %}
                        <div class="item">
                            <img class="img-responsive" src="{{ subentry.contentnotrans }}" alt="">
                        </div>
                     {% endif %}
                    {% endfor %} 
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-{{ carouselIndex }}" data-slide="prev">
                    <span class="my-carouselh-icon">
                        {{ icon('arrow-circle-left') }}
                    </span>
                </a>
                <a class="right carousel-control" href="#carousel-{{ carouselIndex }}" data-slide="next">
                    <span class="my-carouselh-icon">
                        {{ icon('arrow-circle-right') }}
                    </span>
                </a>
            </div>
            <div class="caption">
                <h3>{{ icon(entry.icon) }} {{ entry.title }} </h3>
                <p>{{ entry.content }}</p>
               {# If we are the admin, add some edit buttons #}
               {% if app.user %}
                <p>{{ functions.inputEditButtons(adminEditEntryRoute,entry.id) }}</p>
               {% endif %}
            </div>
        </div>
    </div>

{% endmacro %}

{% macro inputBulletEntry(entry,adminEditEntryRoute) %}
    {% import _self as functions %}
    
    <div class="col-lg-12">
        <h2 class="page-header">{{ entry.title }}</h2>
    </div>
    <div class="col-md-6">
        <p>{{ entry.content }}</p>
        {{ functions.inputList(entry) }}
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="{{ entry.imagepath }}" alt="">
    </div>
    {% if app.user %}
      <p>{{ functions.inputEditButtons(adminEditEntryRoute,entry.id) }}</p>
    {% endif %}
{% endmacro %}
      
{% macro inputSubEntriesParagraph(entry) %}
    {% for subentry in entry.subentries if subentry.type=='property_paragraph' %}
        <p>{{ subentry.content }}</p>
    {% endfor %}
{% endmacro %}

{% macro inputSubEntriesFacebook(entry) %}
    {% for subentry in entry.subentries if subentry.type=='property_facebook' %}
        <li>
            <a href="{{ subentry.contentNotrans }}" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
        </li>
    {% endfor %}
{% endmacro %}

{% macro inputSubEntriesLinkedIn(entry) %}
    {% for subentry in entry.subentries if subentry.type=='property_linkedin' %}
        <li>
            <a href="{{ subentry.contentNoTrans }}" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
        </li>
    {% endfor %}
{% endmacro %}

{% macro inputSubEntriesXing(entry) %}
    {% for subentry in entry.subentries if subentry.type=='property_xing' %}
        <li>
            <a href="{{ subentry.contentNoTrans }}" target="_blank"><i class="fa fa-2x fa-xing-square"></i></a>
        </li>
    {% endfor %}
{% endmacro %}