{% extends '::base.html.twig' %}

{% block navigation %}
    {% include 'AppBundle:Default:nav.html.twig' %}
{% endblock %}
    
{% block body %}
    {# parent() #}
    {% from 'AppBundle:admin:macro.html.twig' import inputSubEntriesParagraph as inputSubEntriesParagraph %}
    {% from 'AppBundle:admin:macro.html.twig' import inputEditButtons as inputEditButtons %}
    {% from 'AppBundle:admin:macro.html.twig' import inputSubEntriesFacebook as inputSubEntriesFacebook %}
    {% from 'AppBundle:admin:macro.html.twig' import inputSubEntriesLinkedIn as inputSubEntriesLinkedIn %}
    {% from 'AppBundle:admin:macro.html.twig' import inputSubEntriesXing as inputSubEntriesXing %}
    
        
    {% dump(generaltranslation) %}
    {% dump(entries) %}
    
    <div class="container">
        <br>
    <!-- Intro Content -->
        <div class="row">
         {% for entry in entries %}
          {% if entry.type == 'about_entry_brewery' %}
            <div class="col-md-offset-1 col-md-5">
                <img class="img-responsive" src="{{ entry.imagepath }}" alt="">
            </div>
            <div class="col-md-6">
                <h2>{{ entry.title }}</h2>
                {{ inputSubEntriesParagraph(entry) }}
            </div>
            {% if app.user %}
             <p>{{ inputEditButtons(adminEditEntryRoute, entry.id) }}</p>
            {% endif %}
          {% endif %}
         {% endfor %}
        </div>
        <!-- /.row -->
    
    <!-- Team Members -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">{{ generaltranslation.about_team }}</h2>
            </div>
           {% for entry in entries %}
            {% if entry.type == 'about_entry_brewer' %}
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ entry.imagepath }}" alt="">
                    <div class="caption">
                        <h3>{{ entry.title }}<br>
                            <small>{{ icon('beer') }} {{ entry.content }} {{ icon(entry.icon) }}</small>
                        </h3>
                        {{ inputSubEntriesParagraph(entry) }}
                        <ul class="list-inline">
                            {{ inputSubEntriesFacebook(entry) }}
                            {{ inputSubEntriesLinkedIn(entry) }}
                            {{ inputSubEntriesXing(entry) }}
                        </ul>
                    </div>
                </div>
                {% if app.user %}
                    <p>{{ inputEditButtons(adminEditEntryRoute, entry.id) }}</p>
                {% endif %}
            </div>
            {% endif %}
           {% endfor %}
        </div>
    
     <!-- Foto Story -->
        
     <!-- Our Impressum -->
        <div class="row">
            <div class="col-lg-12 page-header">
                <h2>{{ generaltranslation.about_impressum }}</h2>
                {% if app.user %}
                  <p>{{ inputEditButtons(adminGeneralTextRoute, 'about_impressum') }}</p>
                {% endif %}
                <p>{{ generaltranslation.about_impressum_text }}</p>
                {% if app.user %}
                  <p>{{ inputEditButtons(adminGeneralTextRoute, 'about_impressum_text') }}</p>
                {% endif %}
            </div>
        </div>
          <!-- Our AGB -->
        <div class="row">
            <div class="col-lg-12 page-header">
                <h2>{{ generaltranslation.about_agb }}</h2>
                {% if app.user %}
                  <p>{{ inputEditButtons(adminGeneralTextRoute, 'about_agb') }}</p>
                {% endif %}
                <p>{{ generaltranslation.about_agb_text }}</p>
                {% if app.user %}
                  <p>{{ inputEditButtons(adminGeneralTextRoute, 'about_agb_text') }}</p>
                {% endif %}
            </div>
        </div>
             <!-- Our customers -->
        <div class="row">
           {% for entry in entries %}
            {% if entry.type == 'about_entry_customer' %}
            <div class="col-md-2 col-sm-4 col-xs-6">
                <h3>{{ entry.title }}</h3>
                <img class="img-responsive customer-img" src="{{ entry.imagepath }}" alt="">
                <h5>{{ entry.content }}</h5>
                {% if app.user %}
                    <p>{{ inputEditButtons(adminEditEntryRoute, entry.id) }}</p>
                {% endif %}
            </div>
            {% endif %}
           {% endfor %}
        </div>
     
    <!-- /.container -->
    </div>
{% endblock %}