{% extends '::base.html.twig' %}
{% trans_default_domain "app" %}

{% block navigation %}
    {% include 'AppBundle:Default:nav.html.twig' %}
{% endblock %}

{% block body %}
    {# dump(entries) #}
    {# Twig macros #}
    {% from 'AppBundle:admin:macro.html.twig' import inputEditButtons as inputEditButtons %}
    {% from 'AppBundle:admin:macro.html.twig' import inputList as inputList %}
    {% from 'AppBundle:admin:macro.html.twig' import inputSliderImage as inputSliderImage %}
    {% from 'AppBundle:admin:macro.html.twig' import inputSliderThumb as inputSliderThumb %}
    
 
    <!-- Content -->
    <!-- Page Content -->
    <div class="container">
        <br>
        <div class="row">
        {% for entry in entries %}
         {% if entry.type == 'accomodation_entry' %} 
            <div class="col-lg-12">
                <h2 class="page-header">{{ entry.title }}</h2>
            </div>
            <div class="col-md-8">
                {{ inputSliderImage(entry, loop.index) }}
                {{ inputSliderThumb(entry, loop.index) }}
            </div>
            <div class="col-md-4">
                <h3>Titel</h3>
                <p>{{ entry.content }}</p>
                <h3>Details</h3>
                {{ inputList(entry) }}
            </div>
            {% if app.user %}
                <p>{{ inputEditButtons(adminEditEntryRoute,entry.id) }}</p>
            {% endif %}
         {% endif %}
        {% endfor %}
            
        </div>
        
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Beau-Site
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <ul class="bxslider">
                    <li><img src="/bundles/app/images/beausite/livingroom1.jpg" /></li>
                    <li><img src="/bundles/app/images/beausite/bathroom1.jpg" /></li>
                </ul>
                <div id="bx-pager">
                    <a data-slide-index="0" href=""><img src="/bundles/app/images/beausite/livingroom1_thumb.jpg" /></a>
                    <a data-slide-index="1" href=""><img src="/bundles/app/images/beausite/bathroom1_thumb.jpg" /></a>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Project Description</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <h3>Project Details</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- Not really cool to have them statically preconfigured... -->
    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                pagerCustom: '#bx-pager',
                adaptiveHeight: true,
                controls: false,
                mode: 'fade'
            });
        });
        $(document).ready(function(){
            $('#slider1').bxSlider({
                pagerCustom: '#bx-pager1',
                adaptiveHeight: true,
                controls: false,
                mode: 'fade'
            });
        });
        $(document).ready(function(){
            $('#slider2').bxSlider({
                pagerCustom: '#bx-pager2',
                adaptiveHeight: true,
                controls: false,
                mode: 'fade'
            });
        });
    </script>
{% endblock %}