{% extends '::base.html.twig' %}

{% block navigation %}
    {% include 'AppBundle:Default:nav.html.twig' %}
{% endblock %}
    
{% block body %}
    {# parent() #}
    {# Twig macros #}
    {% from 'AppBundle:admin:macro.html.twig' import inputEditButtons as inputEditButtons %}
    {% from 'AppBundle:admin:macro.html.twig' import inputList as inputList %}
    {% from 'AppBundle:admin:macro.html.twig' import inputSubtitle as inputSubtitle %}
    {% from 'AppBundle:admin:macro.html.twig' import inputSubtitle2 as inputSubtitle2 %}
    
    {# dump(generaltranslation) #}
    {# dump(entries) #}

    
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>{{ generaltranslation.beers_are_us }}</h1>                
                        {% if app.user %}
                            <p>{{ inputEditButtons(adminGeneralTextRoute, 'beers_are_us') }}</p>
                        {% endif %}

                        {{ generaltranslation.beers_description }}
                        {% if app.user %}
                            <p>{{ inputEditButtons(adminGeneralTextRoute, 'beers_description') }}</p>
                        {% endif %}
                </div>
            </div>
        </div>
        
        <!-- Item Row -->
        {% for entry in entries %}
         {% if entry.type == 'beers_entry' %}
        <div class="row thumbnail">
            <div class="col-md-3">
                <div id="carousel-{{ loop.index0 }}" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {# Outer loopindex needs to be stored because we have an inner loop#}
                        {% set carouselIndex = loop.index0 %}
                        {% for subentry in entry.subentries if subentry.type=='property_image_carousel' %}
                         {% if loop.first %}
                            <li data-target="#carousel-{{ carouselIndex }}" data-slide-to="0" class="active"></li>
                         {% else %}
                            <li data-target="#carousel-{{ carouselIndex }}" data-slide-to="{{ loop.index0 }}"></li>
                         {% endif %}
                        {% endfor %} 
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for subentry in entry.subentries if subentry.type=='property_image_carousel' %}
                         {% if loop.first %}
                            <div class="item active">
                                <img class="img-responsive" src="{{ subentry.contentnotrans }}" alt="">
                            </div>
                         {% else %}
                            <div class="item">
                                <img class="img-responsive" src="{{ subentry.contentnotrans }}" alt="">
                            </div>
                         {% endif %}
                        {% endfor %} 
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-{{ carouselIndex }}" data-slide="prev">
                        <span class="my-carouselh-icon">
                            {{ icon('arrow-circle-left') }}
                        </span>
                    </a>
                    <a class="right carousel-control" href="#carousel-{{ carouselIndex }}" data-slide="next">
                        <span class="my-carouselh-icon">
                            {{ icon('arrow-circle-right') }}
                        </span>
                    </a>
                </div>
            </div>

            <!-- Text on side -->
            <div class="col-md-6">
                <h3>{{ entry.title }}</h3>
                {{ inputSubtitle(entry) }}
                <p>{{ entry.content }}</p>
                {{ inputSubtitle2(entry) }}
                {{ inputList(entry) }}
            </div>
            {% if app.user %}
                <p>{{ inputEditButtons(adminEditEntryRoute, entry.id) }}</p>
            {% endif %}
        </div>
        <!-- /.row -->
        <hr>
         {% endif %}
        {% endfor %}
    <!-- /.container -->
    </div>

    
    
{% endblock %}