{% extends '::base.html.twig' %}
{% trans_default_domain "app" %}

{% block navigation %}
    {% include 'AppBundle:Default:nav.html.twig' %}
{% endblock %}

{% block body %}
    {# dump(entries) #}
    {# Twig macros #}
    {% from 'AppBundle:admin:macro.html.twig' import inputEditButtons as inputEditButtons %}
    {% from 'AppBundle:admin:macro.html.twig' import inputList as inputList %}
    {% from 'AppBundle:admin:macro.html.twig' import inputSliderImage as inputSliderImage %}
    {% from 'AppBundle:admin:macro.html.twig' import inputSliderThumb as inputSliderThumb %}
    {% from 'AppBundle:admin:macro.html.twig' import inputSubtitle1 as inputSubtitle1 %}
    {% from 'AppBundle:admin:macro.html.twig' import inputSubtitle2 as inputSubtitle2 %}
    
 
    <!-- Content -->
    <!-- Page Content -->
    <div class="container">
        <br>
        <div class="row">
        {% for entry in entries %}
         {% if entry.type == 'cutting_entry' %} 
            <div class="col-lg-12">
                <h2 class="page-header">{{ entry.title }}</h2>
            </div>
            <div class="col-md-8">
                {{ inputSliderImage(entry, loop.index) }}
                {{ inputSliderThumb(entry, loop.index) }}
            </div>
            <div class="col-md-4">
                {{ inputSubtitle1(entry) }}
                <p>{{ entry.content }}</p>
                {{ inputSubtitle2(entry) }}
                {{ inputList(entry) }}
            </div>
            {% if app.user %}
                <p>{{ inputEditButtons(adminEditEntryRoute,entry.id) }}</p>
            {% endif %}
         {% endif %}
        {% endfor %}
            
        </div>
    </div>
    <!-- /.container -->
    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- Not really cool to have them statically preconfigured... -->
    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                pagerCustom: '#bx-pager',
                adaptiveHeight: true,
                controls: false,
                mode: 'fade'
            });
        });
        $(document).ready(function(){
            $('#slider1').bxSlider({
                pagerCustom: '#bx-pager1',
                adaptiveHeight: true,
                controls: false,
                mode: 'fade'
            });
        });
        $(document).ready(function(){
            $('#slider2').bxSlider({
                pagerCustom: '#bx-pager2',
                adaptiveHeight: true,
                controls: false,
                mode: 'fade'
            });
        });
    </script>
{% endblock %}