{% extends '::base.html.twig' %}
{% trans_default_domain "app" %}

{% block navigation %}
    {% include 'AppBundle:Default:nav.html.twig' %}
{% endblock %}
    
{% block body %}
    {# Twig macros #}
    {% from 'AppBundle:admin:macro.html.twig' import inputEditButtons as inputEditButtons %}
    {% from 'AppBundle:admin:macro.html.twig' import inputBulletEntry as inputBulletEntry %}
    
    {# if macro would have been defined in the same template use:
        {{ _self.inputEditButtons('adminEditSingleEntry',entry.id) }}
    #}
    
    {# parent() #}
    {# 'symfony.test'|trans({},'app') #}
    {# dump(translations) #}
    {# dump(brewery) #}
    {# dump(home) #}
    {# dump(entries) #}
    {# dump(assoc) #}
    {# dump(app.user) #}
    {# dump(app.request.basepath) #}

    <!-- Page Content -->
    <div class="container">
        
        <!-- Jumbotron Header -->
        {% image '@AppBundle/Resources/public/images/idyllisch_3_done.jpg' %}                    
        <header class="jumbotron hero-spacer backgroundImage" style="background-image:url('{{ asset_url }}');">

        </header>
        {% endimage %}
       <hr>
        
        <!-- Jumbotron -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{ home.home_laser }}
                    {# If we are the admin, add some edit buttons #}
                    {% if app.user %}
                        <p>{{ inputEditButtons(adminGeneralTextRoute, 'home_laser') }}</p>
                    {% endif %}
                </h1>
            </div>
        </div>
                
       <!-- Home -->
        <div class="row text-center">
        {% for entry in entries %}
            {% if entry.type == 'home_thumbnail' %} 
                <div class="col-md-4 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="{{ asset(entry.imagePath)}}" alt="{{entry.imageDescription}}"/>
                        <div class="caption">
                            <h3>{{ icon(entry.icon) }} {{ entry.title }} </h3>
                            <p>{{ entry.content }}</p>
                            <p><a href="{{ path(entry.route, {'_locale': app.request.locale}) }}" class="btn btn-default">{{ entry.buttonText }}</a></p>
                           {# If we are the admin, add some edit buttons #}
                           {% if app.user %}
                            <p>{{ inputEditButtons(adminEditEntryRoute,entry.id) }}</p>
                           {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>

        <!-- Features Section -->
        <div class="row">
        {% for entry in entries %}
         {% if entry.type == 'bullet_entry_home' %} 
            {{ inputBulletEntry(entry,adminEditEntryRoute) }}
         {% endif %}
        {% endfor %}
            
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>{{ home.home_contact_us }}</p>
                    {% if app.user %}
                        <p>{{ inputEditButtons(adminGeneralTextRoute,'home_contact_us') }}</p>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="{{ path('contact', {'_locale': app.request.locale}) }}">{{ 'app.button.contact'|trans }}</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; {{ home.all_laser }} - 2015</p>
                    {% if app.user %}
                        <p>{{ inputEditButtons(adminGeneralTextRoute,'all_laser') }}</p>
                    {% endif %}
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
{% endblock %}