   <!-- Navigation -->
{% trans_default_domain "nav" %}
<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home', {'_locale': app.request.locale}) }}">{{ 'nav.home'|trans }}</a>
                <a class="navbar-brand" href="{{ path('home', {'_locale': 'de'}) }}">
                    <img class="img-responsive img-hover img-related" src="{{ asset('/bundles/app/images/ch.png')}}" alt="">
                </a>
                <!-- 
                <a class="navbar-brand" href="{{ path('home', {'_locale': 'en'}) }}">
                    <img class="img-responsive img-hover img-related" src="{{ asset('/bundles/app/images/us.png')}}" alt="">
                </a>
                <a class="navbar-brand" href="{{ path('home', {'_locale': 'fr'}) }}">
                    <img class="img-responsive img-hover img-related" src="{{ asset('/bundles/app/images/fr.png')}}" alt="">
                </a>
                -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('about', {'_locale': app.request.locale}) }}">{{ 'nav.about'|trans }}</a></li>
                    <li class="dropdown">
                        <a href="{{ path('engraving', {'_locale': app.request.locale}) }}" class="dropdown-toggle" data-toggle="dropdown">{{ 'nav.engraving'|trans }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('engraving', {'_locale': app.request.locale}) }}#Holz">{{ 'nav.wood'|trans }}</a></li>
                            <li><a href="{{ path('engraving', {'_locale': app.request.locale}) }}#Glas">{{ 'nav.glass'|trans }}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{ path('cutting', {'_locale': app.request.locale}) }}" class="dropdown-toggle" data-toggle="dropdown">{{ 'nav.cutting'|trans }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('cutting', {'_locale': app.request.locale}) }}#Holz">{{ 'nav.portraitFormat'|trans }}</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('pricing', {'_locale': app.request.locale}) }}">{{ 'nav.pricing'|trans }}</a></li>
                    <li><a href="{{ path('contact') }}">{{ 'nav.contact'|trans }}</a></li>
                   {% if not app.user %}
                    <li><a href="{{ path('adminHome') }}">{{ 'nav.login'|trans }}</a></li>
                   {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('adminNewEntry') }}">{{ 'nav.newEntry'|trans }}</a></li>
                            <li><a href="{{ path('adminNewGeneralText') }}">{{ 'nav.newGeneralText'|trans }}</a></li>
                            <li><a href="{{ path('logout') }}">{{ 'nav.logout'|trans }}</a></li>
                        </ul>
                    </li>
                    
                   {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
</div>