  {% if entry.type == 'beers_entry' %}
             {% set counter = counter + 1 %}
            <!-- <div class="container --> {# cycle(['pull-left', 'pull-right'], counter) #}
            <div class="row thumbnail col-md-9 {{ cycle(['pull-left', 'pull-right'], counter) }}">
                <div class="col-md-4 {{ cycle(['pull-left', 'pull-right'], counter) }}">
                <div id="carousel-{{ loop.index0 }}" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {# Outer loopindex needs to be stored because we have an inner loop#}
                        {% set carouselIndex = loop.index0 %}
                        {% for subentry in entry.subentries if subentry.type=='property_image_carousel' %}
                         {% if loop.first %}
                            <li data-target="#carousel-{{ carouselIndex }}" data-slide-to="0" class="active"></li>
                         {% else %}
                            <li data-target="#carousel-{{ carouselIndex }}" data-slide-to="{{ loop.index0 }}"></li>
                         {% endif %}
                        {% endfor %} 
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for subentry in entry.subentries if subentry.type=='property_image_carousel' %}
                         {% if loop.first %}
                            <div class="item active">
                                <img class="img-responsive" src="{{ subentry.contentnotrans }}" alt="">
                            </div>
                         {% else %}
                            <div class="item">
                                <img class="img-responsive" src="{{ subentry.contentnotrans }}" alt="">
                            </div>
                         {% endif %}
                        {% endfor %} 
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-{{ carouselIndex }}" data-slide="prev">
                        <span class="my-carouselh-icon">
                            {{ icon('arrow-circle-left') }}
                        </span>
                    </a>
                    <a class="right carousel-control" href="#carousel-{{ carouselIndex }}" data-slide="next">
                        <span class="my-carouselh-icon">
                            {{ icon('arrow-circle-right') }}
                        </span>
                    </a>
                </div>
                </div>

                <!-- Text on side -->
                <div class="col-md-8">
                    <h3>{{ entry.title }}</h3>
                    {{ inputSubtitle(entry) }}
                    <p>{{ entry.content }}</p>
                    {{ inputSubtitle2(entry) }}
                    {{ inputList(entry) }}
                </div>
                {% if app.user %}
                    <p>{{ inputEditButtons(adminEditEntryRoute, entry.id) }}</p>
                {% endif %}   
            </div>
            <!-- /.row -->
            
         {% endif %}{# empty Twig template #}

<!--------------------------------------------------------------->
                <!-- Our customers -->
        <div class="row">
           {% for entry in entries %}
            {% if entry.type == 'about_entry_customer' %}
            <div class="col-md-2 col-sm-4 col-xs-6">
                <h3>{{ entry.title }}</h3>
                <img class="img-responsive customer-img" src="{{ entry.imagepath }}" alt="">
                <h5>{{ entry.content }}</h5>
                {% if app.user %}
                    <p>{{ inputEditButtons(adminEditEntryRoute, entry.id) }}</p>
                {% endif %}
            </div>
            {% endif %}
           {% endfor %}
        </div>